@import "tailwindcss";

@theme inline {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
  /* Map Tailwind's sans font to Syne */
  --font-sans: var(--font-syne);
}

:root {
  background: var(--color-background);
  color: var(--color-foreground);
}
.red{
  border: 2px solid red;
}
.herobg{
  background:  url("/herobg.png") ;
  background-size: contain;
  background-position: center;
  width: 100%;
  
}
@media (min-width:300px) {
  *{
    /* border: 2px solid red; */
  background-repeat: no-repeat;

}

}

  